<!DOCTYPE html><html><head><meta charset="utf-8"/>

  
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<!-- Site Metas -->
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
  
	<title>Reservatio</title>
  
	<!-- slider stylesheet -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"/>
  
	<!-- bootstrap core css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.css') }}"/>
  
	<!-- fonts style -->
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet"/>
	<!-- Custom styles for this template -->
	<link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet"/>
	<!-- responsive style -->
	<link href="{{ url_for('static',filename='responsive.css') }}" rel="stylesheet"/>

	<script>
		function myFunction() {
			document.getElementById("input").submit();
		}
	</script>


  </head>
  
  <body>
	<div class="hero_area">
	  <!-- header section strats -->
	  <header class="header_section">
		<div class="container-fluid">
		  <div class="row">
			<div class="col-lg-8">
			  <nav class="navbar navbar-expand-lg custom_nav-container ">
				<a class="navbar-brand" href="{{ url_for('first_page') }}">
				  <span>
					Reservatio
				  </span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
  
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <div class="d-flex  flex-column flex-lg-row align-items-center">
					<ul class="navbar-nav  ">
					  <li class="nav-item active">
						<a class="nav-link" href="{{ url_for('first_page') }}">Why Reservatio? <span class="sr-only">(current)</span></a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="{{ url_for('user') }}">Services </a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="{{ url_for('registered_stores') }}">Registered Stores</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
					  </li>
					  
					</ul>
				  </div>
				</div>
			  </nav>
			</div>
		  </div>
		</div>
	  </header>
	
	  <!-- end header section -->
	  <!-- slider section -->
	  <section class=" slider_section ">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner">
			<div class="carousel-item active">
			  <div class="container">
				<div class="row">
				  <div class="col-lg-5 col-md-6">
					<div class="slider_detail-box">
					  <h1>
						Registered Stores
					  </h1>
					  <form id = "input" action="{{ url_for('registered_stores') }}" method="POST">
					<div class="form-group col-md-6">
						<select class="form-control" name="store" id="inputName4">
                            {% for i in range(length) %}
                            <option value="{{stores[i]}}">{{stores[i]}}</option>
                            {% endfor %}
                        </select>
						<p style="color: red;">{{ error }}</p>
					  </div>
					  
					  <div class="btn-box">
						<a href="#" onclick="myFunction()" class="btn-1">
							Get QR Code
						</a>
					  </div>
					</form>
					</div>
				  </div>
				  <div class="col-md-6">
					<div class="slider_img-box">
                        <h2 style="text-align: center;">{{store_name}}</h2>
                        <div style="text-align: center;"><img src="data:image/png;base64,{{ url }}" alt=""/></div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		   
			
		  
		</div>
	  </section>
	  
	</div>
  
  
	
	<script type="text/javascript" src=" {{ url_for('static',filename='jquery-3.4.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='bootstrap.js') }}"></script>
  
  
  
  </body></html>